@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
    height: 100%;
}

:root {
  --primary-color: #c4a67e;
  --secondary-color: #bd9b6e;
}

@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&family=Open+Sans:wght@300&display=swap');
.bodoni-font {
  font-family: 'Bodoni Moda', serif;
}

@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
.heading-font {
  font-family: 'PT Serif', serif;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
.para-font {
  font-family: 'Open Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
.noto-font{
  font-family: 'Noto Serif', serif;
}